
<div class="imagen">
    <img src="assets/opciones_colaboracion/aportetiempo.jpg" class="d-block w-100" alt="...">
    <br><br>
    <div class="texto-superpuesto">
    
      <label>¡Únete a Nuestro Equipo de Voluntarios y Facilitadores<br>
        para el Cambio Positivo!</label>
      <p>
        En el Centro de Desarrollo Comunitario San Francisco de Asís,  buscamos personas apasionadas y profesionales en áreas como <span class="subrayado">*gestión de proyectos*</span>,<span class="subrayado"> *Lengua Castellana* </span>, <span class="subrayado">Mercadeo</span>, <span class="subrayado">Comunicación</span> y <span class="subrayado">Educación Física</span> para unirse a nosotros como voluntarios o facilitadores en nuestros diversos proyectos y programas. ¡Tu tiempo cuenta!. 
      </p>  

  
    </div>

    <div class="boton-container">
      <button id="boton1"  (click)=" monstrarRequisitos()" class="boton-caso-exito">Conoce los Requisitos
        <i class="fa-solid fa-check"></i>

      </button>
    </div>
    
    </div>

    <app-practicascdc></app-practicascdc>
    <div class="titulo-form">    <label> ¡Haz tu solicitud de Colaboración aquí! </label>
      </div>