.example-card {
    max-width: 400px;
    text-align: justify;
    color:#193A6F;
    
  }
  .custom-image{

    width: 100px;
    height: 100px;
  }
 
  .mi-parrafo-noticias{

    font-size: 40px ;
    font-weight: bold ;
    margin: 10px;
    padding: 5px;
    color:#193A6F;
  }