<div class="imagen">

    <img src="assets/portadanewcdc.png" class="d-block w-100" alt="..." > 
    <div class="texto-superpuesto">

        <label>Gestion Social</label>
        <p>
            En el Centro de Desarrollo Comunitario San Francisco de Asís, 
            construimos futuro generando <span class="subrayado">nuevas oportunidades </span> 
            y <span class="subrayado"> sana convivencia</span>
        </p>
    </div>

</div>

<div class="descripcion">

    <label class="titulo"> "Juntos por un futuro de <strong>*justicia*</strong>, <strong>*paz*</strong> y <strong>*progreso*"</strong> </label>
    <p>
        Desde la década de los 60 funciona en la parte alta del barrio Siloé, en la Comuna 20, al occidente de la ciudad de Cali, una casa de propiedad de la comunidad franciscana, la cual se volvió hogar de muchos sueños para una de las comunidades más vulnerables de la ciudad. 
Hoy en día esta casa es reconocida como un importante centro de desarrollo comunitario en el cual se atienden más de 8.000 personas al año, favoreciendo el bienestar y desarrollo social de diferentes grupos poblacionales de dicha comuna. este sector se caracteriza por tener altos índices de pobreza, violencia y vulnerabilidad social

    </p>
</div>

<app-biblioteca></app-biblioteca>
<app-psicopedagogico></app-psicopedagogico>
<app-epc></app-epc>
<app-banco-alimentos></app-banco-alimentos>