.text-center {
    text-align: center;
    color: #193A6F
  }

  .IntroCDC, .Mision {
    text-align: justify; /* Justificar el texto */
    padding: 20px; /* Agregar espaciado dentro de la tarjeta */
    line-height: 2.0; /* Espaciado entre líneas */
    font-size: medium;
    color: #193A6F
}  
     
.videoIntroCDC {
    margin: 0 auto; /* Centrar horizontalmente */
    width: 80%; /* Ajusta el ancho de la tarjeta según tus necesidades */
   
    margin-right: 20px;
  }
  
  /* Estilo base para dispositivos de escritorio */
.mat-card-header,
.mat-card-content {
  padding: 16px;
}
  @media screen and (max-width: 768px) {
    .IntroCDC, .Mision {
      padding: 10px; /* Reducir el espaciado en pantallas más pequeñas */
      font-size: small; /* Reducir el tamaño de fuente en pantallas más pequeñas */
    }

  
    .videoIntroCDC {
      width: 140%; /* Asegurarse de que el video se ajuste al ancho de la pantalla */
      margin: 0; /* Eliminar el margen derecho en pantallas más pequeñas */
      font-size: small;
    }
    
    @media screen and (max-width: 600px){

     .infoCDC {
      padding: 10PX;
     }

     .mat-card{
      margin: 10px;
     }
    }

    /* Estilo para dispositivos móviles (ancho máximo de 600px) */
@media screen and (max-width: 600px) {
  .mat-card-header {
    padding: 8px; /* Reducir el espaciado superior e inferior del encabezado */
  }
  
  .mat-card-title {
    font-size: 14px; /* Reducir el tamaño de fuente del título */
  }

  .mat-card-content {
    padding: 8px; /* Reducir el espaciado superior e inferior del contenido */
    font-size: 12px; /* Reducir el tamaño de fuente del contenido */
  }
}
  }

 
