 

<div id="carouselExampleIndicators" class="carousel slide"> 

    <div class="carousel-indicators"> 
    
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> 
    
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button> 
    
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> 
    
    </div> 
    
    <div class="carousel-inner"> 
    
    <div class="carousel-item active"> 
    
     
     
    
    <img src="assets/Portadacdc.png" class="d-block w-100" alt="..." > 
    
    </div> 
    
    <div class="carousel-item"> 
    
    <img src="assets/1.jpg" class="d-block w-100" alt="..."> 
    
    </div> 
    
    <div class="carousel-item"> 
    
    <img src="assets/2.jpg" class="d-block w-100" alt="..."> 
    
    </div> 
    
     
     
    
    <div class="carousel-item"> 
    
    <img src="assets/abuelos.jpg" class="d-block w-100" alt="..."> 
    
    </div> 
    
    </div> 
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"> 
    
    <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
    
    <span class="visually-hidden">Previous</span> 
    
    </button> 
    
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"> 
    
    <span class="carousel-control-next-icon" aria-hidden="true"></span> 
    
    <span class="visually-hidden">Next</span> 
    
    </button> 
    
    </div> 
    
     
     
     
    
    <mat-card> 
    
    <div class="titulo"> 
    
    <h1 class="text-center"><strong class="mt-4">Transformación social de la Comuna 20</strong></h1> 
    
    </div> 
    
    </mat-card> 
    
     
    <div class="info"> 
    
    <p> 
    
    El Centro de Desarrollo Comunitario San Francisco de Asís es el Centro de Desarrollo Social de la Universidad de San Buenaventura Cali, esta institución aporta a la comunidad del barrio Siloé servicios que permiten contribuir a su transformación, constituyéndose este en un Centro de Extensión y Proyección Social de la Universidad de San Buenaventura Cali.  
 El CDC es una dependencia de la Unidad de Proyección Social y se constituye en un puente entre la Universidad y la Comunidad de Siloé, a partir de los proyectos que allí se generan y las prácticas y acciones que, desde los diferentes planes de las facultades, apoyan y enriquecen interdisciplinariamente su función. Es lugar de realización de prácticas estudiantiles, las cuales favorecen el desarrollo de los diferentes programas dirigidos a la comunidad universitaria.  
      El Centro de Desarrollo propicia relaciones interinstitucionales para el diseño y desarrollo de proyectos y programas comunitarios a los cuales se suman instituciones oficiales y privadas interesadas en promover la transformación y bienestar social de la comuna 20.  
    
    </p> 
    
     
     
    
    <mat-grid-list cols="2" rowHeight="2:1"> 
    
    <mat-grid-tile> 
    
    <mat-card> 
    
    <h2>MISIÓN</h2> 
    
    El Centro de Desarrollo Comunitario San Francisco de Asís contribuye a la transformación y bienestar de la comunidad caleña ubicada en el barrio Siloé, desarrollando programas y proyectos comunitarios, integrando instituciones oficiales y privadas e interactuando de manera responsable y comprometida con el mejoramiento de las realidades socio-culturales, económicas y educativas de la comunidad, enfocados en la filosofía franciscana y la formación integral del ser. 
    
     
     
    
    </mat-card> 
    
    </mat-grid-tile> 
    
    <mat-grid-tile> 
    
    <mat-card> 
    
    <h2> VISIÓN</h2>  
    
    El Centro de Desarrollo Comunitario San Francisco de Asís de la Universidad de San Buenaventura Cali será en el 2024 reconocido a nivel local como una institución líder en la transformación e impacto de la sociedad caleña y la región, desarrollando programas y proyectos innovadores socialmente, de valor pedagógico agregado, orientado a la investigación social y la calidad humana del ser, facilitando la integración de instituciones públicas y privadas, organizaciones de desarrollo social y la comunidad. 
    
    </mat-card> 
    
    </mat-grid-tile> 
    
    </mat-grid-list> 
    
    </div> 
    
    <div class="card bg-dark text-white"> 
    
     
     
    
    <p style="text-align: center;">Centro de Desarrollo Comunitario San Francisco de Asís es el Centro de Desarrollo Social de la Universidad de San Buenaventura Cali</p> 
    
    <div class="card-body"> 
    
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/kD3K-OaLvh0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
    
    </div> 
    
    </div> 
    
    <app-noticiascdc></app-noticiascdc>
     
     
    
     