.text-center {
    text-align: center;
    color: #193A6F
  }

  .IntroCDC, .Mision {
    text-align: justify; /* Justificar el texto */
    padding: 20px; /* Agregar espaciado dentro de la tarjeta */
    line-height: 2.0; /* Espaciado entre líneas */
    font-size: medium;
    color: #193A6F
}  
     
.videoIntroCDC {
    margin: 0 auto; /* Centrar horizontalmente */
    width: 80%; /* Ajusta el ancho de la tarjeta según tus necesidades */
   
    margin-right: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .IntroCDC, .Mision {
      padding: 10px; /* Reducir el espaciado en pantallas más pequeñas */
      font-size: small; /* Reducir el tamaño de fuente en pantallas más pequeñas */
    }
  
    .videoIntroCDC {
      width: 140%; /* Asegurarse de que el video se ajuste al ancho de la pantalla */
      margin: 0; /* Eliminar el margen derecho en pantallas más pequeñas */
      font-size: small;
    }
  }

 
