

<mat-grid-list cols="2" rowHeight="2:2" gutterSize="16">

    <mat-grid-tile *ngFor="let card of cards">
    
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header" ></div>
              <img mat-card-avatar class="example-header" src={{card.avatar1}} alt="Photo of a Shiba Inu">
    
              <mat-card-title>{{card.titleCard}}</mat-card-title>
              <mat-card-subtitle>{{card.subtitle}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src={{card.photo}} alt="Photo of a Shiba Inu">
            
            
            <mat-card-content>
              {{card.content}}
            </mat-card-content>

            

            <mat-card-actions class="button-container">

              <a mat-button [routerLink]="['/apadrinamiento']">
                <div class="favorite-container">  
              <mat-icon class="favorite" aria-label="Apadrinar">favorite</mat-icon> 
              
              <label>Apadrinar</label>
                </div>
               </a> 
            </mat-card-actions>

    
          <!--aporte solidario-->
          <!--
          <mat-card-actions class="button-container">

            <a mat-button [routerLink]="['/apadrinamiento']">
              <div class="favorite-container">  
            <mat-icon class="favorite" aria-label="Apadrinar">favorite</mat-icon> 
            
            <label>Apadrinar</label>
              </div>
             </a> 
          </mat-card-actions>
-->
          <!--Voluntariado-->
         <!-- <mat-card-actions class="button-container">

            <a mat-button [routerLink]="['/apadrinamiento']">
              <div class="favorite-container">  
            <mat-icon class="favorite" aria-label="Apadrinar">favorite</mat-icon> 
            
            <label>Apadrinar</label>
              </div>
             </a> 
          </mat-card-actions>
          -->
          <!--Facilitador-->
          <!--<mat-card-actions class="button-container">

            <a mat-button [routerLink]="['/apadrinamiento']">
              <div class="favorite-container">  
            <mat-icon class="favorite" aria-label="Apadrinar">favorite</mat-icon> 
            
            <label>Apadrinar</label>
              </div>
             </a> 
          </mat-card-actions>
        -->
          <!--Pasantía/Practica Profesional-->
          <!--
          <mat-card-actions class="button-container">

            <a mat-button [routerLink]="['/apadrinamiento']">
              <div class="favorite-container">  
            <mat-icon class="favorite" aria-label="Apadrinar">favorite</mat-icon> 
            
            <label>Apadrinar</label>
              </div>
             </a> 
          </mat-card-actions>
-->

              <!--<button mat-button >{{card.buttonVol}}</button>-->
          
          </mat-card>
     </mat-grid-tile>
    </mat-grid-list>
    
    <app-proyectoscdc></app-proyectoscdc>
   