  /* Estilos para tabletas */ 
    @media (min-width: 768px) and (max-width: 1023px) {
      
    .example-card {
      max-width: 400px;
    }
    /*estilos para el avatar*/
    .example-header {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     overflow: hidden;
    }
  
  
    }
  
    /* Estilos para pantallas más grandes (computadoras) */
    @media (min-width: 1024px) {
    .example-card {
     max-width: 400px;
    }
          
          
  }
  
    .favorite-label {

      margin-left: 8px;
    }

    .favorite-container {
      display: flex;
      align-items: center;
    }
    
    .favorite {
      font-size: 24px;
      color: #193A6F;
      margin-right: 8px; /* Espacio entre el icono y el label */
    }
    
    .favorite-label {
      font-size: 16px; /* Tamaño de fuente del label */
    }
    .label-link{
      color: #193A6F;
      cursor: pointer;
    }
    .label-link:hover{
      color: #FB9850;
      text-decoration: underline;
    
    }
    .content{
      text-align: justify;
      display: flex;
      align-items: justify;
      flex: 1;
    }
    .d-block w-100 img{

      width: 4000px;

    }
   
    