
<div class="container ppal">


    <div class="login-box" >
    <h2>Registrate</h2>
      
    <form (ngSubmit)="onSubmit()">

   

      <div class="user-box">
        <label for="tipo_identificacion">Tipo Identificación</label>
  <select [(ngModel)]="colaborador.tipoIdentificacion" name="tipoIdentificacion" required>
          <option *ngFor="let i of colaborador.listTipoIdentificacion" [value]="i.value">{{i.key}}</option>
      </select>
</div>
      <div class="user-box">
        <input type="number" [(ngModel)]="colaborador.numeroIdentificacion" required="" name="nombre">
          <label for="numero_identificacion" class="col-form-label col-sm-3"> Identificacion </label>
      </div>

      <div class="user-box">
        <input type="text" [(ngModel)]="colaborador.nombre"  required="" name="nombre">
          <label for="NOMBRE" class="col-form-label col-sm-3"> Nombre </label>
      </div>

      <div class="user-box">
        <input type="text" [(ngModel)]="colaborador.username"  required="" name="username">
          <label for="USUARIO" class="col-form-label col-sm-3"> Usuario </label>
      </div>
         
    
    <div class="user-box">
      <input type="text"  required="" [(ngModel)]="colaborador.contrasena"  name="contrasena">
      <label for="contraseña"> Cree una contraseña</label>
      <!--<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      -->
    </div>
    <div class="user-box">
    
      <input type="text" [(ngModel)]="colaborador.correo" required=""  name="correo">
      <label for="CORREO" class="col-form-label col-sm-3"> Correo </label>
    </div>

    <div class="user-box">
    
      <input type="number" [(ngModel)]="colaborador.celular" required=""  name="celular">
      <label for="CELULAR" class="col-form-label col-sm-3"> Celular </label>
    </div>
    
    <div class="user-box">
    
      <input type="text"  required="" [(ngModel)]="colaborador.cargo" name="cargo">
      <label for="cargo" class="col-form-label col-sm-3"> Cargo</label>
    </div>
    <div class="user-box">

    <label for="roles">Rol</label>
      <select [(ngModel)]="colaborador.rol" name="rol" id="roles" name="roles" required>
          <option *ngFor="let i of colaborador.listRols" [value]="i.value">{{i.key}}</option>
      </select>
      </div>
<br><br>
    
        <!--<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
     
    <!--<a href="#" (click)='registrar()'*ngIf="!colaborador.idCol else elseBlock">-->
    
      <div class="container">

        <button class="btn btn-primary"> Registrar</button> 
        <button class="limpiar" type="reset">Limpiar</button>
      </div>

      <div *ngIf="modal">
        <h2>Bienvenido a nuestra fundacion</h2>
        <p>Para continuar necesitamos validar tu correo por ello,
            Hemos enviado un correo electrónico con un código de confirmación.
            Por favor, ingrésalo a continuación:
        </p>

        <form (ngSubmit)="confirmarCorreoCol()" class="full-width-form">
          <label>Código de Confirmación</label>
          <input required [(ngModel)]="codigo" name="codigoConfirmacion" placeholder="Ingrese el código">
        
          <div class="container text-center">
            <button mat-raised-button>Confirmar Correo</button>
          </div>
        
        </form>
        
      </div>
      
  
    <ng-template #elseBlock>
   
      Actualizar
    
    
    </ng-template>
    
    
    </form>
    </div>
    
    </div>