
<div class="container ppal">


    <div class="login-box" >
    <h2>Registrate</h2>
      
    <form >
    
      <div class="user-box">
        <input type="text"   required="" name="nombre">
          <label for="NOMBRE" class="col-form-label col-sm-3"> Nombre </label>
      </div>
         
      
      <div class="user-box">
    
        <input type="text"  required=""  name="usuario">
        <label for="usuario" class="col-form-label col-sm-3"> Usuario </label>
      </div>
       
    <div class="user-box">
      <input type="text"  required=""   name="contrasena">

      <label for="contraseña"> cree una contraseña</label>
      <!--<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      -->
     
      
    </div>
    
        <!--<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
     
    <!--<a href="#" (click)='registrar()'*ngIf="!colaborador.idCol else elseBlock">-->
    
    
     <button> Registrar</button> 
      
  
    <ng-template #elseBlock>
   
      Actualizar
    
    
    </ng-template>
    
    
    </form>
    </div>
    
    </div>