<div class="cabecera">
    <h1>Desayunos de Campeones</h1>
</div>

<mat-card class="contenido EPC">
    <div class="grid-container">
       <div class="columna-imagen">
        <img mat-card-image src="assets/bancoalimentos1.jpg">
<br>
        <img mat-card-image src="assets/bancoalimentos2.jpg">
        
        <br><br><br>
        
      </div>

      <div class="columna-contenido">
<mat-card>
    <label>*Nutrición* y *Bienestar*</label>
    <p>
        Dado las necesidades de la población y de acuerdo a investigaciones realizadas, se han articulado diferentes entidades como la <span class="subrayado">Fundación Arquidiocesana con el Banco de Alimentos de Cali</span> brindando <span class="subrayado"> apoyo nutricional</span> a través de <span class="subrayado">refrigerios saludables</span></p>

        <p>Personas naturales y jurídicas que apadrinan diferentes necesidades del programa y la ESE Ladera, alianzas que aportan al logro de objetivos y favorece el bienestar de la comunidad educativa.</p>
<br><br>

        <a href="https://www.canva.com/design/DAFj3IrQn0o/4KnbysgVZaicGkp4f8eC4A/view?utm_content=DAFj3IrQn0o&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink" target="_blank"><button mat-fab aria-label="Example icon button with a heart icon" class="boton-con-estilo"> Conoce la historia de uno de nuestros beneficiarios
          <mat-icon>favorite</mat-icon>
        </button>
    </a> 
    
</mat-card>
</div>

        </div>


</mat-card>