
<div class="card-container">

  
<mat-card class="example-card">
    
    <mat-card-header>
        <mat-card-title class="titulo-foto">
          <label>Conoce la historia de Ethan</label>
            <span class="material-symbols-outlined">
                ads_click
                </span>
        </mat-card-title>
      </mat-card-header>

      <div class="image-container">
        <div class="image-wrapper">

      <img src="assets/opciones_colaboracion/ethan.jpg"  (click)="toggleDescription(1)">
      <div class="description" [class.show]="showDescription[1]">

        <p>Ethan es un niño de tres años de edad, es muy alegre y conversador, desde que participa en la 
            estrategia de desayunos saludables en nuestro programa Jardín Infantil, ha fortalecido la independencia
            en el consumo de los mismos y también se permite degustar frutas que no han consumido antes, de esta manera ha logrado procesualmente
            incorporar estas frutas en su dieta, durante su estadía en el Jardín y posteriormente comenta que le gustan en casa.

            Por otro lado, muestra deseos por colaborar y compartir los utensilios y alimentos que usa para consumir
            los alimentos. 
        </p>
      </div>
        </div>

      <div class="image-wrapper" >

        <img src="assets/opciones_colaboracion/ethann.jpg"  (click)="toggleDescription(2)">
        <div class="description" [class.show]="showDescription[2]">
            <p>Ethan es un niño de tres años de edad, es muy alegre y conversador, desde que participa en la 
                estrategia de desayunos saludables en nuestro programa Jardín Infantil, ha fortalecido la independencia
                en el consumo de los mismos y también se permite degustar frutas que no han consumido antes, de esta manera ha logrado procesualmente
                incorporar estas frutas en su dieta, durante su estadía en el Jardín y posteriormente comenta que le gustan en casa.
    
                Por otro lado, muestra deseos por colaborar y compartir los utensilios y alimentos que usa para consumir
                los alimentos.</p>
        </div>

       
      </div> 

    </div>
  </mat-card>


<br><br><br>

  <mat-card class="example-card2">
   
    <mat-card-header>
      <label>¿Quieres ayudar a más niños como Ethan?
        Te contamos como puedes hacerlo: 
      </label>
        </mat-card-header>

  <div class="avatar-container">
    <div class="avatar">
<img src="assets/opcionesApadrinar/utiles.jpg" alt="Avatar 1">
<p> Semestralmente cada niño o niña deberá contar con una <span class="subrayado">lista de materiales que incluye papelería, aseo, 
  juguetes,</span> otros para el desarrollo de sus actividades escolares. 
  <span class="subrayado">Esta lista tiene un valor aporximado de  APROX. $180.000.</span></p>
</div>

<div class="avatar">

<img src="assets/opcionesApadrinar/alimentación.jpeg" alt="Avatar 1">
<p>En nuestro Jardín contamos con una <span class="subrayado">estrategia de refrigerios saludables</span>, para llevar a cabo 
  cada niño(a) debe realizar un <span class="subrayado">aporte mensual durante el año lectivo. 
El valor del aporte mensual es $1600.</span>
</p>
</div>

<div class="avatar">

<img src="assets/opcionesApadrinar/uniformes.png" alt="Avatar 1">
<p>Cada niño(a) durante el año lectivo de contar con <span class="subrayado">uniforme que consta de sudadera y camibuso;</span>
  el cual se adquiere con nuestro proveedor de uniformes. El tiempo estimado de duración es cada 6 meses.
 <span class="subrayado"> El valor de cada uniforme equiva a $55.000</span> </p>
  </div>

  <div class="avatar">

    <img src="assets/opcionesApadrinar/aportepadg.png" alt="Avatar 1">
    <p>Únete a nuestro programa de <span class="subrayado">apadrinamiento</span> y brinda la oportunidad de una <span class="subrayado">educación de calidad</span> a un pequeño de nuestro jardín infantil.</p> 
      
     <p> Con un aporte pedagógico de tan solo $140.000, que corresponde a la matrícula académica, estarás apoyando su desarrollo y futuro.  </p>
      </div>
</div>
<br><br><br>


</mat-card>

</div> 
<div class="titulo-donacion">
<label>¡Haz tu solicitud de donación Aquí!</label>
</div>