

/* Estilo para el formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para etiquetas de campo */
label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

/* Estilo para campos de entrada y select */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="number"],
input[type="date"]
select, 
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#tipo_proyecto {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#button{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;

}
/* Estilo para el botón de enviar */
input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #FB9850;
}
.form-container {
    display: flex;
    justify-content: space-between;
  }

  
  .form-column {
    flex: 1;
    padding: 10px;
  }
  
  
  
  .button-container {
    text-align: center;
  }
  .camposform{
    padding: 10px;
  }

  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

  .camposform {
    display: flex; /* Mostrar los radio buttons en una fila */
    flex-wrap: wrap; /* Envolver en varias filas cuando sea necesario */
    gap: 10px; /* Espacio entre los radio buttons */
  }
  
  .mat-radio-button {
    white-space: nowrap; /* Evitar el salto de línea si el texto es largo */
    min-width: 100px; /* Ancho mínimo para cada botón de radio */
  }