<div class="form-container">
<div class="form-column">
    
    <form (ngSubmit)="onSubmit()">
        <div class="camposform">
        <label for="nombre">Nombre del Programa:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="programa.nombre" required>
    </div>

    <div class="camposform">
        <label for="eslogan">Escribe un eslogan</label>
        <input type="text" id="eslogan" name="eslogan" [(ngModel)]="programa.eslogan" required>
    </div>

    <div class="camposform">
        <label for="descripcion">Descripción del Programa:</label>

        <textarea id="descripcion" name="descripcion" [(ngModel)]="programa.descripcion" required></textarea>
</div>

<div class="camposform">
        <label for="imagen">Imagen del Programa:</label>
        <input type="file" id="imagen" name="imagen" [(ngModel)]="programa.imagen"><br>

</div>
<div class="camposform">
        <label for="colaborador_creador">Colaborador Creador:</label>
        <input type="text" id="colaborador_creador" name="usuarioCreador" [(ngModel)]="programa.usuCreador" required>
</div>
 <div class="camposform">
        <label for="colaborador_modificador">Colaborador Modificador:</label>
        <input type="text" id="colaborador_modificador" name="usuModificador" [(ngModel)]="programa.usuModificador" required>
    </div>
    

        <div class="camposform">
            <label for="opcionesColaboracion">Opciones de colaboración</label>
            <button type="button" id="button" class="dropdown-button" (click)="toggleDropdown()">Seleccionar Opciones</button>
            <span *ngIf="showDropdown" class="dropdown-list">
                <span *ngFor="let opcion of listaOpciones">
                    <label>
                        <input type="checkbox" [(ngModel)]="opcion.isSelected" [name]="'opcion_' + opcion.text"> {{opcion.text}}
                    </label>
                </span>
            </span>
        </div>


        <div class="button-container">
            <input type="submit" value="Crear Programa">
        </div>

    </form>

</div>

</div>
<ng-template #elseBlock>
    Actualizar
</ng-template>
