section {
    justify-content: center;
    align-items: center;
}

.background {
    background-image: url('https://res.cloudinary.com/dxlmosojh/image/upload/f_auto,q_auto/v1/donacion/fondos/kykfeikfyv94knrzxmup');
    background-size: cover; /* Ajustar tamaño de la imagen para cubrir el contenedor */
    background-position: center; /* Centrar la imagen */
    height: 626px; /* Ajustar la altura al 100% del viewport */
    width: 626px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    text-align: center;
}

.text-container h1 {
    font-weight: bold;
    color: rgb(0, 0, 0); /* Cambia el color del texto según tu preferencia */
}

.text-container span {
    color: rgb(35, 65, 146);
    font-weight: bold;
}

.text-container p {
    color: rgb(0, 0, 0) ;
    font-size: 3vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.button-container {
    position: absolute;         
    display: flex;
    justify-content: center;
    top:0;
    margin: 100px 100px;           
    margin-top: 80vh; /* Ajusta el margen superior según tus preferencias */
    
}

.button {
    display: inline-block;
    padding: 2vh 4vw;
    margin: 0 2vw;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer; /* Añade un indicador de cursor al pasar el ratón */
}

.button-accept {
    background-color: #4CAF50; /* Verde para aceptar */
}

.button-reject {
    background-color: #f44336; /* Rojo para rechazar */
}

.message-container {
    background-color: #4CAF50;
    position: absolute;
    color: white;
    padding: 20px;
    margin-top: 80px;
    margin-left: 190px;
    border-radius: 15px;
}

