<a href="https://www.canva.com/design/DAFzAF24DSg/R3OgSpw4djlwdigdw4kZXQ/edit?utm_content=DAFzAF24DSg&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
  target="_blank" class="boton-guia">Ver Guía de la Aplicación</a>
<div class="container">
  <mat-card *ngIf="colaborador">

    <mat-card-header>

      <mat-card-subtitle class="Bienvenido">
        <p>¡Bienvenido al <span class="subrayado">módulo de gestión de donaciones</span> del Centro de Desarrollo
          Comunitario San Francisco de Asís! Aquí, tienes el poder de crear un impacto real en nuestras comunidades al
          gestionar proyectos, programas, solicitudes de donación y colaboradores. Tu contribución es fundamental para
          llevar adelante nuestra misión de apoyar a quienes más lo necesitan. A través de esta plataforma, podrás
          coordinar y supervisar cada paso de tu labor benéfica. Juntos, construiremos un futuro más brillante y
          solidario. ¡Gracias por ser parte de este cambio positivo! </p>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions class="actions">
      <div class="button-grid" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
        <button *ngIf="colaborador.rol.rol === 'CREADOR'" mat-stroked-button id="crear-proyectos"
          [routerLink]="['/creacionproyectos']" style="flex: 3px 0 calc(33.33% - 10px); margin: 5px;">Crear Proyectos</button>
        <button mat-stroked-button id="ver-solicitudes" (click)="showSolicitudesDonacion = true" style="flex: 3px 0 calc(33.33% - 10px); margin: 5px;">Ver Solicitudes de Donación</button>
        <button *ngIf="colaborador.rol.rol === 'CREADOR'" mat-stroked-button id="crear-programas"
          [routerLink]="['/creacionprogramas']" style="flex: 3px 0 calc(33.33% - 10px); margin: 5px;">Crear Programas</button>
        <button mat-stroked-button id="ver-programas" [routerLink]="['/VerProgramas']" style="flex: 3px 0 calc(33.33% - 10px); margin: 5px;">Ver Programas </button>
        <button mat-stroked-button id="ver-proyectos" [routerLink]="['/VerProyectos']" style="flex: 3px 0 calc(33.33% - 10px); margin: 5px;">Ver Proyectos </button>
        <button *ngIf="colaborador.rol.rol === 'CREADOR'" mat-stroked-button id="ver-colaboradores"
          [routerLink]="['/listcolaboradores']" style="flex: 3px 0 calc(33.33% - 10px); margin: 5px;">Ver Colaboradores</button>
      </div>
    </mat-card-actions>
  </mat-card>
  <app-versolicitudesdonacion *ngIf="showSolicitudesDonacion"></app-versolicitudesdonacion>

  <app-versolicitudesdonacion *ngIf="showCrearProyectos"></app-versolicitudesdonacion>



  <mat-card class="card">


  </mat-card>
</div>