
<br>
<br>
<div class="button-grid">
<div class="button-column">
<button id="crear-proyectos"  [routerLink]="['/creacionproyectos']" >Crear Proyectos</button>

<button id="ver-solicitudes"  [routerLink]="['/versolicitudesdedonacion']">Ver Solicitudes de Donación</button>
<button id="crear-programas"  [routerLink]="['/creacionprogramas']">Crear Programas</button>
</div>


<br><br>
<div class="button-column">
<button id="ver-benefactores">Ver Benefactores</button>
<button id="crear-colaboradores" [routerLink]="['/Registro']">Crear Colaboradores para Gestionar Donaciones</button>
<button id="ver-colaboradores">Ver Colaboradores</button>
</div>
</div>
<br><br>

<mat-card class="card">


</mat-card>
