table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #193A6F; /* Línea de borde azul */
    margin: 10px 0;
  }
  
  th, td {
    border: 1px solid #193A6F; /* Línea de borde azul para celdas de encabezado y datos */
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #FB9850; /* Fondo naranja para celdas de encabezado */
    color: #193A6F; /* Texto azul para celdas de encabezado */
  }
  
tbody tr:nth-child(odd) {
    background-color: #FB9850; /* Fondo naranja para filas impares */
  }
  
  tbody tr:nth-child(even) {
    background-color: #FFFFFF; /* Fondo blanco para filas pares */
  }
  
  /* Estilos para el encabezado de la tabla */
  thead {
    font-weight: bold;
  }
  
  /* Alinea el texto en las celdas del cuerpo de la tabla al centro */
  td {
    text-align: center;
  }

  .mat-tab-group {
    margin-bottom: 48px;
  }
  
  button-grid {
    display: flex;
    justify-content: relative;
    align-items: relative;
    flex-wrap: wrap;
    margin:  20px auto;
  }

  .button-column {
    flex: 1;
    text-align: center;
    margin: 0 10px;
  }
  
  button {
    background-color: #FB9850;
    color: #193A6F;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 20px 0;
  }
  
  button:hover {
    background-color: #FFA726;
  }