 

<nav class="navbar"> 

  <div class="container-fluid"> 
  
   
  <img src="assets/logonav.png" alt="" width="160" height="140" > 
  
  <h4 class="text-center"><strong class="mt-4"><i style="color: #193A6F;">¡Aquí Crecemos Juntos!</i> </strong></h4> 
  
  <button mat-button [routerLink]="['/inicio']" style="color: #193A6F;">Inicio</button> 
  
  <button mat-button [routerLink]="['/sesioncolaboradores']" style="color: #193A6F;">Nosotros</button> 
  
  <button mat-button [routerLink]="['/gestionsocial']" style="color: #193A6F;"> Gestión Social</button> 
  
  <button mat-button [routerLink]="['/lstprogramas']" style="color: #193A6F;"> Programas/Proyectos</button> 
  
   
   <mat-form-field> 
  
  <input type="search" placeholder="buscar" style="color: #193A6F" style="border-radius: 50px">  
  
   
   </mat-form-field> 
  
  
  </div> 
  
  
  </nav>  
  
   
   
  
  <router-outlet> </router-outlet> 
  <app-footer></app-footer>