<div class="navbar">

  <div class="logo">
    <img src="assets/logonav.png" alt="">
    <h4>¡Aquí Crecemos Juntos!</h4>
  </div>




  <div class="nav-links">
    <label [routerLink]="['/inicio']">Inicio</label>
    <label [routerLink]="['/info']">Nosotros</label>
    <label [routerLink]="['/gestion-social']"> Gestión Social</label>
    <label [routerLink]="['/programascdc']"> Programas/Proyectos</label>
  </div>

  <!-- <input type="search" placeholder="buscar" style="border-radius: 50px">  -->

  <div class="auth">

    <mat-card *ngIf="!usuarioLogeado"> <!--si el usuario no esta logeado muestra-->
      <mat-icon routerLink="/login" routerLinkActive="active">person </mat-icon>
      <span class="autenticacion">Login</span>
    </mat-card>

    <div *ngIf="usuarioLogeado">

      <mat-icon (click)="logout()">logout</mat-icon>

    </div>

    <mat-card>
      <mat-icon class="registro" routerLink="/Registro"> person_add</mat-icon>
      <span class="autenticacion">Admin</span>
    </mat-card>

  </div>
</div>

<router-outlet> </router-outlet>

<app-floating-button></app-floating-button>
<app-footer></app-footer>