 

<div>

</div>
<nav class="navbar lg" > 

  <div class="container-fluid"> 
  
   
  <img src="assets/logonav.png" alt="" width="160" height="140" > 
  
  <h4 class="text-center"><strong class="mt-4"><i style="color: #193A6F;">¡Aquí Crecemos Juntos!</i> </strong></h4> 
  
  

  <button mat-button [routerLink]="['/inicio']">Inicio</button> 
  <button mat-button [routerLink]="['/nosotros/logincolaborador']">Nosotros</button> 
  <button mat-button [routerLink]="['/gestion-social']"> Gestión Social</button> 
  <button mat-button [routerLink]="['/programascdc']"> Programas/Proyectos</button> 
  
   
  <input type="search" placeholder="buscar" style="border-radius: 50px">  

  
<div *ngIf="!usuarioLogeado" class="sesion">      <!--si el usuario no esta logeado muestra-->
  <mat-icon class="person" routerLink="/login" routerLinkActive="active">person</mat-icon> 
 
</div>
         
<div *ngIf="usuarioLogeado" class="sesion">
  
  <mat-icon class="person" (click)="logout()">logout</mat-icon> 
 
</div>

   <div>
    <mat-icon class="registro" routerLink="/Registro"> person_add</mat-icon>
   </div>

  </div> 
  
  
  </nav>  
  
  <router-outlet> </router-outlet> 
  <app-footer></app-footer>
  