.navbar{

  background-color: #FB9850;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
}
button[mat-button]:hover{
  background-color: #193A6F;
}



/* media query móviles*/ 
@media (max-width: 767px){

  .navbar {
    display: block; /* Cambia a un diseño de bloque */
    padding: 10px; /* Ajusta el relleno según sea necesario */
    text-align: center; /* Alinea el contenido al centro */
    background-color: #FB9850; /* Cambia el color de fondo */
  }


  .nav-links {
    display: block; /* Muestra los botones de navegación en dispositivos móviles */
    text-align: center; /* Alinea los botones al centro */
    background-color: #FB9850; /* Cambia el color de fondo de la lista de navegación */
  }
  .nav-links button[mat-button] {
    padding: 10px 20px;
  }

}

/* Estilo para los botones navegación */


button.mat-button{
  background-color:#FB9850 ;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.3s;

}
button.mat-button:hover{
 color:#193A6F;

}

.person {
 background-color:  white;
 color: #193A6F;
 
  
}
.registro{
  
   
    color: #193A6F;
    
}
.show-nav {
  display: block;
}