.navbar{

  height: 110px;
  width: 100%;
  box-sizing: border-box;
  background-color: #FB9850;
}

@media (max-width: 767px){

  .navbar{
    height: 56px; /*altura de la barra de navegación en pantallas pequeñas*/
  }
}

@media (max-width: 599px){
  .navbar{
    height: 48px; /*altura de la barra de navegación en pantallas aún más pequeñas*/
  }
}

.container-fluid{
  width: 100%;
  height: 120%;
}

/*estilo para los botones*/

button.mat-button {
  color: #e3e6eb; /*color de texto normal*/
  transition: color 0.3s; /*transición de color suave*/
}

/*estilo para los botones cuando se pasa el mouse sobre ellos*/
button.mat-button:hover{
  color: #193A6F;  /*cambia el color de texto al pasar el mouse*/
}