<div class="imagen">
<img src="assets/opciones_colaboracion/aporte_solidarioimg.png" class="d-block w-100" alt="...">

<div class="texto-superpuesto">

  <label>Apoyo Solidario: <span class="subrayado">*Sumemos juntos al cambio comunitario* </span></label>
  <p>
    Únete a nuestra iniciativa de Apoyo Solidario y contribuye a hacer realidad proyectos sociales y comunitarios. Tu generosidad puede marcar la diferencia en la vida de quienes más lo necesitan. Haz una donación de <span class="subrayado">papelería o refrigerios</span> y sé parte activa del cambio positivo en nuestra comunidad. <span class="subrayado">¡Tu ayuda cuenta!</span>
  </p>

  <div class="boton-container">
  <button id="boton1" (click)="mostrarCasoExito1()" class="boton-caso-exito">Caso de Éxito 1</button>

  <button id="boton2" (click)="mostrarCasoExito2()" class="boton-caso-exito">Caso de Éxito 2</button>

  
  <button id="boton3" (click)="mostrarCasoExito3()"class="boton-caso-exito">Caso de Éxito 3</button>
  <label>¡Conoce algunos casos de éxito!</label>
</div>
</div>

</div>

<div class="titulo-form">
<label>¡Haz tu solicitud de donación!</label>
</div>