

<mat-grid-list cols="2" rowHeight="2:2" gutterSize="16">

    <mat-grid-tile *ngFor="let proyecto of proyectos">
    
          <mat-card class="example-card2">
            <mat-card-header>
              <div mat-card-avatar class="example-header2" ></div>
              <img mat-card-avatar class="example-header2" src={{proyecto.avatar}} alt="Photo of a Shiba Inu">
    
              <mat-card-title>{{proyecto.nombreProyecto}}</mat-card-title>
  
              <mat-card-subtitle>{{proyecto.tipo}}</mat-card-subtitle>
             
            </mat-card-header>
            <img mat-card-image src={{proyecto.photo}} alt="Photo of a Shiba Inu">
            
            
            <mat-card-content>
              {{proyecto.descripcion}}
            </mat-card-content>
          </mat-card>
  
  
        </mat-grid-tile>
      </mat-grid-list>