

<!--carrusel-->
<div class="container py-4">
      
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mx-3 my-3" >
    <ng-container *ngFor="let proyecto of proyectos; let p= index">
      <div class="col">
        <div class="card h-100">
          <div id="carouselExampleProyectos{{ p }}" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let imagen of proyecto.imagenes; let z = index" [ngClass]="{'active': z === 0}">
                <img [src]="imagen.url" class="d-block w-100" alt="Imagen del producto" style="width: 192x; height: 140px;">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselExampleProyectos'+p" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselExampleProyectos' + p" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          
          <div class="card-body text-center">
            <h5 class="card-title text-uppercase fw-bold">{{proyecto.nombre}}</h5>
            <p class="card-text">{{proyecto.descripcion}}</p>
            <div class="grid-container">
              <div class="grid-item"><strong>Colaborador creador: </strong></div>
              <div class="grid-item">{{proyecto.colCreador}}</div>
              <div class="grid-item"><strong>colaborador modificador:</strong></div>
              <div class="grid-item">{{proyecto.colModificador}}</div>
              <div class="grid-item"><strong>costo:</strong></div>
              <div class="grid-item">{{proyecto.costo}}</div>
              <div class="grid-item"><strong>programa:</strong></div>
              <div class="grid-item">{{proyecto.programa.nombre}}</div>
            </div>


          </div>
          <div class="card-footer text-center">
            <!-- <a [routerLink]="['/detalle-producto', producto.idProducto]" class="btn btn-primary text-center">Ver mas</a>-->
          </div>
        </div>
      </div>
    </ng-container>
  </div>

</div>