<div class="form-container">
    <div class="form-column">
      <form  (ngSubmit)="onSubmit()">
      

        <div class="form-section">
  
        <label for="tipo_identificacion">Tipo de Identificación:</label>
        
        <select [(ngModel)]="donacionA.tipoIdentificacion" id="tipo_identificacion" name="tipo_identificacion" required>
          <option *ngFor="let i of donacionA.listTipoIdentificacion" [value]="i.value" >{{i.key}}</option>
        </select>
        </div>

      <div class="form-section">

        <label for="numero_identificacion">Número de Identificación:</label>
        <input type="number" id="numero_identificacion"[(ngModel)]="donacionA.numeroIdentificacion" id="numero_identificacion" name="numeroIdentificacion" required matInput ><br><br>
       </div>
        
       <div class="form-section">
        <label for="nombre">¿Cuál es tu nombre?</label>
        <input type="text" id="nombre" [(ngModel)]="donacionA.nombreBenefactor"  required="" name="nombreBenefactor"><br><br>, 
       </div>
       <div class="form-section">
        <label for="correo">Correo Electrónico:</label>
        <input type="email" id="correo" [(ngModel)]="donacionA.correo" name="correo" required><br><br>
      </div>

      <div class="form-section">
        <label for="celular">Celular:</label>
        <input type="number" id="celular" name="celular"  [(ngModel)]="donacionA.celular" required="" ><br><br>
</div>

<div class="form-section">
  <input type="text" id="aporte" name="aporte"  [(ngModel)]="donacionA.aporte" placeHolder="Escribe quiero ser Voluntario" required="" >
</div>

  <div class="button-container">
    <input type="submit" value="Enviar Solicitud">
  </div>
  </form>
  </div>
  </div>

  <ng-template #elseBlock>
    Actualizar
  
  </ng-template>