<div class="cabecera">
    <h1>Escuela para Cuidadores</h1>
</div>

<mat-card class="contenido EPC">
    <div class="grid-container">
     
        <div class="card-container">
       <div class="columna-imagen">
        <img mat-card-image src="assets/gestionsocial/epcgs.jpg"><br><br><br>
        
      </div>
    </div>

    <div class="card-container">
      <div class="columna-contenido">
<mat-card>
    <label>*Orientar* y *Acompañar*</label>
    <p>
Es un espacio ofrecido a toda la comunidad de forma periodica para la orientación y acompañamiento psicológico a niños, niñas, jóvenes, adultos y personas mayores; y el desarrollo de estrategias orientadas a la prevención y la promoción de la salud mental de las personas y la comunidad. 
    </p>
    <span>
        Encuentros Mensuales
    </span>
</mat-card>
</div>

        </div>
    </div>

</mat-card>