/* Estilos para el mat-card */
.custom-card {
    
    padding: 16px; /* Margen interno de 16 píxeles */
    text-align: justify; /* Texto justificado */
    font-size: 18px; /* Tamaño de fuente de 18 píxeles */
    margin: 10px; /* Margen exterior alrededor de las tarjetas */
    width: 100%;

    /* Puedes ajustar los estilos según tus preferencias */
    color:#193A6F;
  }

  
.custom-list-header {
  font-size: 24px;
  color: #193A6F;
}

.custom-text {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
  color:#193A6F
}
 
  



 