
/*estilos genrales*/
.container{

height: 600px;

}
.custom-card{

position: relative;
 top: -40px;
 width: auto;
 height: auto;

}

.custom-card .custom-text {

  position: relative;
  top: -20px;
  color:#193A6F;
  text-align: justify;
}

.custom-card .custom-list-header{

  padding: 50px;
  font-style: bold;
  font-family: 'Montserrat';
  color:#193A6F
}
.custom-card2 {

 position: relative;
 top: 28px;
 width: auto;
 height: auto;
 color: #193A6F;
}
.custom-card2 .custom-list-header2{
  
  padding: -5px;
  font-weight:  bold;
  font-family: 'Montserrat';
  color:#193A6F;
  font-size: 16px;
}
.custom-list-header3{

  font-weight:  bold;
  font-family: 'Montserrat';
  color:#193A6F;
  font-size: 16px;
  padding: -20px;
  margin-bottom: -30px;
  

}
.custom-list-header3 label{
margin-bottom: 40px;
padding: 60px;
}
 /*dispositivos móviles*/
@media screen and (max-width: 767px){

  .container{
    height: 600px;
  }

  .custom-card {
    
   position: relative;
   top: 30px;
   max-width: auto;
   max-height: auto;
   
  }

  .custom-card .custom-text{

    position: relative;
    top: 120px;
    color: #193A6F;
    text-align: justify;
  }
  
}