<mat-grid-list cols="2" gutterSize="16px">
    <mat-grid-tile>
      <mat-card class="custom-card">
        <label class="custom-list-header"> Naturaleza del  CDC</label>

       <div class="custom-text">
        El Centro de Desarrollo Comunitario San Francisco de Asís (CDC) es una dependencia de la Unidad de Proyección Social de la Universidad de San Buenaventura Cali, funciona hace más de 46 años desarrollando programas y proyectos comunitarios, integrando instituciones oficiales y privadas e interactuando de manera responsable y comprometida con el mejoramiento de las realidades socioculturales, económicas y educativas de la comunidad, enfocados en la filosofía franciscana y la formación integral del ser, interesados en promover la transformación y bienestar social de la comuna 20. Además, es lugar de realización de prácticas estudiantiles, las cuales favorecen el desarrollo de los diferentes programas y planes de las facultades, apoyando y enriqueciendo interdisciplinariamente su función, impactando toda la comuna. 
       </div>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-card class="custom-card">
        <label class="custom-list-header">Áreas de Impacto</label>
        <br>
      <ul> 
        <li >Educación Inicial </li>
        <li>Formación Integral </li>
        <li>Salud y Bienestar </li>
        <li>Desarrollo Económico y Empleabilidad   </li>
        <li>Cultura y Recreación </li>
        <li>Consultoría psicológica y jurídica    </li>
        <li>Medio Ambiente y Sostenibilidad  </li>
        Acceso a Tecnología y Recursos digitales 

<li>Seguridad y Prevención de la Violencia </li>

<li>Participación Comunitaria y Fortalecimiento de la Organización </li>

<li>Prácticas y pasantías comunitarias </li>
      </ul>
      <br>
      <label class="custom-list-header">  Población </label>
      <br>
      <ul>
         <li >Primera Infancia </li> 

<li>Niñas, Niños y Adolescentes </li>

<li>Familias y Cuidadores</li> 

<li>Mujeres Gestantes y Lactantes </li>

<li>Jóvenes y Adultos </li> 

<li>Personas Mayores</li>
      </ul>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <app-equipo></app-equipo>