

<div class="cabecera">
    <h1>Letras, Arte, Cultura e Investigación</h1>
</div>


<mat-card class="contenido biblioteca">
    <div class="grid-container">
      <div class="columna-imagen">
        <img mat-card-image src="assets/gestionsocial/biblioteca_pgs.jpg"><br><br><br>
        <span>Horario de atención: lunes a viernes 8:00 a.m. a 12:00 m y de 2:00 p.m. a 4:30 p.m.
        </span>
<br><br><br><br>
<div class="centrar-contenedor">
        <a href="https://sites.google.com/view/bibliotecadigitalrafelpombo/recursos-digitales?authuser=0" target="_blank"><button mat-fab aria-label="Example icon button with a heart icon" class="boton-con-estilo">Recursos Digitales
          <i class="fa-solid fa-book"></i>
        </button>
    </a> 
      </div>
    </div>

      
      <div class="columna-contenido">
        <mat-card-content>
          <label>Biblioteca Rafael Pombo</label>
          <p><br>
            Es un programa que nace hace más de 27 años, favoreciendo a más de 3000 usuarios al año. Brinda espacios para la investigación, la consulta de información, la cultura, la alfabetización y el aprendizaje significativo a través de servicios, proyectos y programas para todos los grupos poblacionales: infantil, juvenil adolescentes, adultos y personas mayores. Busca promover el bienestar social, los valores culturales, la participación ciudadana, los valores franciscanos y el desarrollo local; aportando a la transformación social de la comuna 20, despertando en sus usuarios el amor por el conocimiento teniendo en cuenta los propios intereses y necesidades de la comunidad.
            Mensualmente brinda programación diversa de actividades y talleres de promoción de lectura, escritura, oralidad, formación en TIC, formación integral del ser, huertas urbanas, entre otras áreas de impacto social. Para ello, articula acciones y servicios con diferentes entidades regionales como: Red de Bibliotecas públicas de Cali, Biblioteca Tierra Blanca Siloé, Centro Cultural Comuna 20, colectivos Soñadores de Siloé, Programa de Psicología USB Cali, Programa Comunicación gráfica de la UAO, y demás entidades de impacto social en el sector.
          </p>
        </mat-card-content>
        <mat-card-content>
          <br>
          <label>Servicios</label>
          <ul class="lista-servicios">
            <br>
            <li>Afiliación a llave del Saber</li>
            <li>Consulta en Sala</li>
            <li>Consulta bibliográfica</li>
            <li>Acceso a Colecciones y material bibliográfico</li>
            <li> Préstamo externo</li>
            <li>Acceso a internet</li>
            <li>Formación de usuarios/alfabetización informacional</li>
            <li>BiblioCINE</li>
            <li>Cursos de Informática para niños y adultos</li>
            <li>Talleres de Gastronomía, Arte y Decoración para la comunidad</li>
          </ul>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
  