.cabecera{
    background-color: #193A6F;
    color: #fff;
    text-align: center;
    padding: 1rem;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Define dos columnas, la primera ocupa 1 fracción y la segunda 2 fracciones */
    gap: 20px; /* Agrega espacio entre las columnas */
  }
  
  .columna-imagen {
    padding: 20px;
  }
  
  .columna-imagen img {
    width: 468px;
    height: 376px;
  }



  span {
    color: #193A6F; /* Cambia el color de texto según tus preferencias */
    font-weight: bold;
  }
  
  .columna-contenido {
    padding: 20px;
    text-align: justify;
    line-height: 1.7;
    color: #193A6F;
  }
  
  .columna-contenido label {
    font-weight: bold;
    color: #193A6F;
    font-size: 24px;
  }
  
  .lista-servicios li {
    padding-left: 20px;
    color: #193A6F;
  }
  
  .horario {
    font-weight: bold;
    text-align: center;
    color: #193A6F;
    font-size: 18px;
  }

  .boton-con-estilo {
    background-color:#193A6F; /* Cambia el color de fondo según tus preferencias */
    color: #fff; /* Cambia el color del texto según tus preferencias */
    padding: 10px 20px; /* Ajusta el espaciado interno según tus preferencias */
    border: none;
    border-radius: 5px; /* Ajusta la curvatura de los bordes según tus preferencias */
    cursor: pointer;
    
  }

    
  .boton-con-estilo:hover {
    background-color:#FB9850; /* Cambia el color de fondo en el estado de "hover" (al pasar el mouse) */
  }
  .centrar-contenedor {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    
  }