<div class="container" >
  <div class="container text-center text-uppercase my-5 mx-5">
    <h1 class="fw-bold">Usted Escogio</h1>
    <h2>{{relacion}}</h2> 
    
   
  </div>
  
</div>

<app-aporte-solidario *ngIf="opcion === 'Aporte Solidario'"></app-aporte-solidario>
<app-aportedel-tiempo *ngIf="opcion === 'Aporte en Tiempo'"></app-aportedel-tiempo>
<app-apadrinamiento *ngIf="opcion === 'Apadrinar'"></app-apadrinamiento>

<div class="form-container">
    <div class="form-column">
      <form  (ngSubmit)="onSubmit()">
      

        <div class="form-section">
  
        <label for="tipo_identificacion">Tipo de Identificación:</label>
        
        <select [(ngModel)]="donacionA.tipoIdentificacion" id="tipo_identificacion" name="tipo_identificacion" required>
          <option *ngFor="let i of donacionA.listTipoIdentificacion" [value]="i.value" >{{i.key}}</option>
        </select>
        
        </div>

      <div class="form-section">

        <label for="numero_identificacion">Número de Identificación:</label>
        <input type="number" id="numero_identificacion"[(ngModel)]="donacionA.numeroIdentificacion" id="numero_identificacion" name="numeroIdentificacion" required matInput ><br><br>
       </div>
        
       <div class="form-section">
        <label for="nombre">¿Cuál es tu nombre?</label>
        <input type="text" id="nombre" [(ngModel)]="donacionA.nombreBenefactor"  required="" name="nombreBenefactor"><br><br>, 
       </div>
       <div class="form-section">
        <label for="correo">Correo Electrónico:</label>
        <input type="email" id="correo" [(ngModel)]="donacionA.correo" name="correo" required><br><br>
      </div>

      <div class="form-section">
        <label for="celular">Celular:</label>
        <input type="number" id="celular" name="celular"  [(ngModel)]="donacionA.celular" required="" ><br><br>
</div>

    <div class="form-section" *ngIf="opcion === 'Aporte Solidario'">
        <label for="tipo_ayuda">¿Cómo deseas ayudar?</label>
        <select id="tipo_ayuda" name="aporte" [(ngModel)]="donacionA.aporte" required>
          <option *ngFor="let i of listaOpciones.listAportesSolidario" [value]="i.value">{{i.key}}</option>
        </select>
    </div>

    <div class="form-section" *ngIf="opcion === 'Apadrinar'">
      <label for="tipo_ayuda">¿Cómo deseas ayudar?</label>
      <select id="tipo_ayuda" name="aporte" [(ngModel)]="donacionA.aporte" required>
        <option *ngFor="let i of listaOpciones.listAportesApadrinamiento" [value]="i.value">{{i.key}}</option>
      </select>
    </div>

    <div class="form-section" *ngIf="opcion === 'Aporte en Tiempo'" >
      <label for="tipo_ayuda">¿Cómo deseas ayudar?</label>
      <select id="tipo_ayuda" name="aporte" [(ngModel)]="donacionA.aporte" required>
        <option *ngFor="let i of listaOpciones.listTiempo" [value]="i.value">{{i.key}}</option>
      </select>
    </div>




    
        <div class="button-container">
          <input type="submit" value="Enviar Solicitud">
        </div>


      </form>


    </div>  
</div>

<ng-template #elseBlock>
  Actualizar

</ng-template>

