<div class="cabecera">
    <h1>Eduacación Infantil</h1>
</div>

<div class="descripcion">

<label class="titulo">
    ¡Psicopedagogico! <strong>*Jardín Infantil</strong><strong>*Consultorio Psicológico </strong>
</label>

<p>
    En el año 1977, aprovechando la infraestructura física existente, se dio inicio al Centro Psicopedagógico como dependencia de la Facultad de Educación. Según estudios realizados en proyectos de investigación de la Comuna 20, era fundamental en esta época identificar y prevenir los problemas de aprendizaje para así asegurar el éxito de los estudiantes vinculados al sistema educativo formal. En este contexto, el Centro Psicopedagógico inicia la prestación de servicios en psicología a algunas escuelas oficiales del barrio Siloé que requerían este tipo de servicios. 
</p>

</div>

<div class="grid-container">
   
<mat-card class="Jardin-Infantil-info">
    <label>Jardín Infantil</label>
    <div class="columna-imagen">
        <img mat-card-image src="assets/jardin.jpg">

    
    </div>

    <div class="contenido">
     <p>
        El Jardín Infantil es un programa de educación inicial, orientado a la formación integral de niños y niñas de 3 a 6 años de edad, ampliamente reconocido por el ministerio de Educación Nacional. Favorece anualmente un promedio de 80 niños y niñas de la comuna 20. Desde su creación, ha tenido como objetivo principal ofrecer una propuesta pedagógica innovadora, que integra la corresponsabilidad y la interdisciplinariedad con nuevas estrategias pedagógicas, acompañamiento psicosocial y trabajo conjunto entre familia-comunidad-institución de forma continua
     </p>
     El  programa cuenta entonces con tres ejes de formación, los cuales son nuestro instrumento de desarrollo: metodología activa, filosofía franciscana e investigación. Así, a través de proyectos movilizadores, se abordan las necesidades, intereses y saberes de los niños, las niñas y sus familias; algunos ejemplos de proyectos significativos han sido “La casa es la tierra de todos” y “La misión más emocionante: cuidando de mi cuido de ti”. 
     <p>

     </p>
    </div>


</mat-card>

<mat-card class="Psicología-info">
    <label>Consultorio Psicológico</label>
    <div class="columna-imagen">
        <img mat-card-image src="assets/consultoriopsicologico.jpg">
    </div>
    <div class="contenido">
        <p>
            Programa de orientación psicológica que busca favorecer asertivamente el bienestar y calidad humana del ser. Atiende desde hace 45 años diferentes grupos poblacionales de la comunidad y ofrece servicios diversos de acuerdo a las necesidades de los diferentes programas o solicitudes de los usuarios, acompañando un promedio de 186 usuarios anualmente. 
        </p>
        Los principales ejes de atención del programa son el acompañamiento psicosocial y psicoeducativo a los demás programas y aliados del CDC; la orientación y acompañamiento psicológico a niños, niñas, jóvenes, adultos y personas mayores; y el desarrollo de estrategias orientadas a la prevención y la promoción de la salud mental de las personas y la comunidad, como la Escuela Para Cuidadores, ofrecida a toda la comunidad de forma periódica. 
        <p>


        </p>
    </div>

</mat-card>
</div>


