
<div class="descripcion">
<p>
 El enfrentarse a escenarios de movilidad social hace que se forje un carácter participativo y comprometido con las realidades contextuales, promoviendo de esta forma beneficios futuros para los profesionales y para la sociedad con el trabajo de 200 practicantes al año.
</p>

</div>

<div class="cabecera">
    <label> ¡Tus Practicas Profesionales o Pasantías Comunitarias Cuentan!</label>
    </div>

    <div class="contenido">
        <div class="columna">
    <mat-card>

        <mat-card-content class="texto">
            <p>
                El Centro de Desarrollo Comunitario San Francisco de Asís es una instancia de las prácticas en el cual algunas facultades de la Universidad de San Buenaventura Cali y otras universidades han podido articularse a sus diferentes programas y servicios.
            </p>
            <img src="assets/opciones_colaboracion/practicas.png" class="d-block w-100" alt="..."><br>
            <p>
                La Universidad de San Buenaventura siempre ha buscado a través de iniciativas como esta, ser coherente con su ser franciscano y con la forma en cómo se articula a las realidades contextuales de nuestra sociedad, ya que sin duda alguna la educación es el mejor regalo que se les puede dar a comunidades que sufren situaciones de vulneración constante, como Siloé. Una sociedad educada es una <span class="subrayado">  sociedad que a diario agrega valor a lo que hace;</span> es por eso que desde las <span class="subrayado"> practicas profesionales que aquí se generan se provee a las nuevas generaciones un paradigma de mejores oportunidades para su aprendizaje. </span>
            </p>

           <span class="frase"> “Una sociedad educada crea, lucha, genera cambio y es la mejor garantía que puede haber del progreso de una Nación entera”.
        </span>
        </mat-card-content>
    </mat-card>
</div>

<div class="columna">
    <mat-card>
        <mat-card-content>

         <label>Conoce algunos productos resultado de las prácticas:</label>
        
         <br><br>

         <label>*Universidad Autonoma de Occidente_Comunicación Social_Proyecto Recrearte*</label>
         <a href="https://centrocomunitarios4.wixsite.com/misitio/copia-de-productos" target="_blank"><button mat-fab aria-label="Example icon button with a heart icon" class="boton-con-estilo">Desarrollo Habilidades Sociales en niños y niñas Escolarizados
            <i class="fa-solid fa-book"></i>
          </button>
          </a>
<br><br><br>
       <div>
        <label>*Universidad Autonoma de Occidente_Comunicación Gráfica*</label>
         <a href="https://drive.google.com/file/d/19YDjj1wimNMqGOkAJKI-KGA34rOXV6F6/view?usp=drive_link" target="_blank"><button mat-fab aria-label="Example icon button with a heart icon" class="boton-con-estilo">Visual Key Para Identidad Visual del CDC en Redes Sociales
            <i class="fa-solid fa-book"></i>
          </button>
          </a>
       </div>
        <br><br>
       <div>
        <label>*Universidad Autonoma de Occidente_Diseño Gráfico y Comunicación Social*</label>
        <a href="https://drive.google.com/file/d/1Z3k5v9L-4tNScUP1T5naeJyVINGB01FC/view?usp=drive_link" target="_blank"><button mat-fab aria-label="Example icon button with a heart icon" class="boton-con-estilo">Manual de Identidad Visual Corporativa para el CDC
           <i class="fa-solid fa-book"></i>
         </button>
         </a>
       </div>


        </mat-card-content>
    </mat-card>
</div>
</div>
    
    