
header {
    
    background-color: #193A6F;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.container {
    max-width: 800px;
    margin: 10 px auto;
    padding: 20px;
    display: flex; /* Utilizamos un contenedor flex para alinear los perfiles horizontalmente */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Distribuir en tres columnas igualmente */
    gap: 20px; /* Espacio entre elementos */
    flex-wrap: wrap;
    justify-content: space-between;
}

.perfil {
    /*flex: 0 1 calc(33.3333% - 15px); /* Esto hará que cada perfil ocupe un tercio del contenedor con un espacio de 20px entre ellos */
    display: flex;
    flex-direction: column;

    margin: 10px;
    text-align: center;
}

.equipo {
    display: flex;
    align-items: flex-end; /* Alinea el contenido en la parte inferior */
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.equipo img {
    max-width: 100px;
    border-radius: 50%;
}

.contenido {
    flex: 1; /* Expande el contenido para ocupar todo el espacio disponible */
    margin-left: 10px; /* Ajusta el espacio entre la imagen y el contenido */
    text-align: justify;
    color: #193A6F;
}
.contenido mat-card-title {

   color:#193A6F;
   font-weight:  bold;
   font-family: 'Montserrat';
   white-space: nowrap;
   text-align: left;
   margin: 20px;
}
.contenido mat-card-content {
    
   font-family: 'Montserrat';
   white-space: nowrap;
   text-align: left;

}

@media screen and (max-width: 767px){

    .perfil {
     flex: 0 1 calc(50% - 20px); /* En pantallas más pequeñas, ocuparán la mitad del ancho */

    }

    .container {
        grid-template-columns: repeat(2, 1fr); /* En pantallas móviles, muestra 2 columnas */
      }
}




